:root {
    --primary-color: #007bff;
    --border-radius: 8px;
    display: flex;
    position: relative;
    width: 100%;
    height: min-content;
}

#root {
    width: 100%;
}

body {
    width: 100%;
}

button {
    display: block
}
